h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h1{
font-style: italic;
}

p{
    line-height: 1.6; font-size: 1.1rem;
}

h1{
   div.a{ text-transform: uppercase;} 
}

h1{
    letter-spacing: 3px;
}


header{
    text-align: center;
}

.codystar-light {
    font-family: "Codystar", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .codystar-regular {
    font-family: "Codystar", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  